<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TDG.trafficcountingapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.TDG.trafficcountingapp.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.TDG.trafficcountingapp.MainScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.TDG.trafficcountingapp.About"
            android:label="@string/title_activity_About"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.TDG.trafficcountingapp.CountSetup"
            android:label="@string/title_activity_count_setup" >
        </activity>
        <activity
            android:name="com.TDG.trafficcountingapp.Help"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.TDG.trafficcountingapp.IntersectionType"
            android:label="@string/title_activity_intersection_type" >
        </activity>
        <activity
            android:name="com.TDG.trafficcountingapp.CountingScreen"
            android:label="@string/title_activity_counting_screen" >
        </activity>
        <activity
            android:name="com.TDG.trafficcountingapp.CustomDialogs"
            android:label="@string/title_activity_counting_screen__dialog">
        </activity>
    </application>

</manifest>
